In [2]:
#Installing pymongo
%pip install pymongo

Requirement already satisfied: pymongo in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (4.13.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pymongo) (2.7.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pymongo

In [9]:
import pymongo
import certifi

myclient = pymongo.MongoClient('mongodb+srv://root:habibi$123@python-mongodb.pxyzcrc.mongodb.net/?retryWrites=true&w=majority&appName=Python-MongoDB',tls = True, tlsCAFile = certifi.where(),serverSelectionTimeoutMS = 5000)

mydb = myclient['mydatabase']

In [ ]:
try:
    myclient.admin.command('ping')
    print('Connection verified and successful')
    dblist = myclient.list_database_names()
    print("Available Databases: ")
    for db in dblist:
        print(db)
except Exception as e:
    print('Error: ',e)
#here mydatabase is not present in output as mongodb doesn't recognize a database without table

Connection verified and successful
Available Databases:
sample_mflix
admin
local

In [12]:
# creating a collection (table) in MongoDB
mycol = mydb['customers'] 
collection_list = mydb.list_collection_names()
for collection in collection_list:
    print(collection)
#here customers is not present in output as mongodb doesn't recognize a collection without data

In [13]:
# inserting document(record) in MongoDB
record = { "name": "John", "address": "Highway 37" }
x = mycol.insert_one(record)

In [14]:
#each record inserted in MongoDB has unique _id value assigned automatically by MongoDB until specified manually
# we can access it using inseted_id attribute
print(x.inserted_id)

68e686feec7b801f9c5d0321

In [18]:
# inserting multiple documents in MongoDB
records = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]
x = mycol.insert_many(records)

In [20]:
ids = x.inserted_ids
for id in ids:
    print(id)

68e6884cec7b801f9c5d0346
68e6884cec7b801f9c5d0347
68e6884cec7b801f9c5d0348
68e6884cec7b801f9c5d0349
68e6884cec7b801f9c5d034a
68e6884cec7b801f9c5d034b
68e6884cec7b801f9c5d034c
68e6884cec7b801f9c5d034d
68e6884cec7b801f9c5d034e
68e6884cec7b801f9c5d034f
68e6884cec7b801f9c5d0350
68e6884cec7b801f9c5d0351

In [21]:
# inserting documents with specified ids

records1 = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(records1)
ids = x.inserted_ids
print("_id vlaues of inserted documents")
for id in ids:
    print(id)

_id vlaues of inserted documents
1
2
3
4
5
6
7
8
9
10
11
12
13
14