In [2]:
#Installing pymongo
%pip install pymongo

Requirement already satisfied: pymongo in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (4.13.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pymongo) (2.7.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pymongo

In [9]:
import pymongo
import certifi

myclient = pymongo.MongoClient('mongodb+srv://root:habibi$123@python-mongodb.pxyzcrc.mongodb.net/?retryWrites=true&w=majority&appName=Python-MongoDB',tls = True, tlsCAFile = certifi.where(),serverSelectionTimeoutMS = 5000)

mydb = myclient['mydatabase']

In [ ]:
try:
    myclient.admin.command('ping')
    print('Connection verified and successful')
    dblist = myclient.list_database_names()
    print("Available Databases: ")
    for db in dblist:
        print(db)
except Exception as e:
    print('Error: ',e)
#here mydatabase is not present in output as mongodb doesn't recognize a database without table

Connection verified and successful
Available Databases:
sample_mflix
admin
local

In [12]:
# creating a collection (table) in MongoDB
mycol = mydb['customers'] 
collection_list = mydb.list_collection_names()
for collection in collection_list:
    print(collection)
#here customers is not present in output as mongodb doesn't recognize a collection without data

In [13]:
# inserting document(record) in MongoDB
record = { "name": "John", "address": "Highway 37" }
x = mycol.insert_one(record)

In [14]:
#each record inserted in MongoDB has unique _id value assigned automatically by MongoDB until specified manually
# we can access it using inseted_id attribute
print(x.inserted_id)

68e686feec7b801f9c5d0321

In [18]:
# inserting multiple documents in MongoDB
records = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]
x = mycol.insert_many(records)

In [20]:
ids = x.inserted_ids
for id in ids:
    print(id)

68e6884cec7b801f9c5d0346
68e6884cec7b801f9c5d0347
68e6884cec7b801f9c5d0348
68e6884cec7b801f9c5d0349
68e6884cec7b801f9c5d034a
68e6884cec7b801f9c5d034b
68e6884cec7b801f9c5d034c
68e6884cec7b801f9c5d034d
68e6884cec7b801f9c5d034e
68e6884cec7b801f9c5d034f
68e6884cec7b801f9c5d0350
68e6884cec7b801f9c5d0351

In [21]:
# inserting documents with specified ids

records1 = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(records1)
ids = x.inserted_ids
print("_id vlaues of inserted documents")
for id in ids:
    print(id)

_id vlaues of inserted documents
1
2
3
4
5
6
7
8
9
10
11
12
13
14

# Selecting data from database

In [9]:
# selecting a single document in MongoDB
import pymongo
import certifi

myclient = pymongo.MongoClient('mongodb+srv://root:habibi$123@python-mongodb.pxyzcrc.mongodb.net/?retryWrites=true&w=majority&appName=Python-MongoDB',tls = True, tlsCAFile = certifi.where(),serverSelectionTimeoutMS = 5000)
mydb = myclient['mydatabase']
mycol = mydb['customers']

x = mycol.find_one()
print(x)

{'_id': ObjectId('68e686feec7b801f9c5d0321'), 'name': 'John', 'address': 'Highway 37'}

In [10]:
# selecting all documents from a collection
x = mycol.find()
for doc in x:
    print(doc)

{'_id': ObjectId('68e686feec7b801f9c5d0321'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0323'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0327'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0324'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0329'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('68e687b8ec7b801f9c5d032a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('68e687b8ec7b801f9c5d032b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('68e687b8ec7b801f9c5d032d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0322'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0325'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0326'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0328'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('68e687b8ec7b801f9c5d032c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('68e687d0ec7b801f9c5d032f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0333'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0336'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('68e687d0ec7b801f9c5d032e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0330'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0331'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0332'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0339'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0334'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0335'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0337'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0338'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('68e687e9ec7b801f9c5d0340'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('68e687e9ec7b801f9c5d0341'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('68e687e9ec7b801f9c5d0344'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('68e687e9ec7b801f9c5d033a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('68e687e9ec7b801f9c5d033f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('68e687e9ec7b801f9c5d0342'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('68e687e9ec7b801f9c5d0343'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('68e687e9ec7b801f9c5d0345'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('68e687e9ec7b801f9c5d033b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('68e687e9ec7b801f9c5d033c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('68e687e9ec7b801f9c5d033d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('68e687e9ec7b801f9c5d033e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('68e6884cec7b801f9c5d034c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('68e6884cec7b801f9c5d0350'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('68e6884cec7b801f9c5d0348'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('68e6884cec7b801f9c5d0349'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('68e6884cec7b801f9c5d034a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('68e6884cec7b801f9c5d034b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('68e6884cec7b801f9c5d034d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('68e6884cec7b801f9c5d0346'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('68e6884cec7b801f9c5d0347'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('68e6884cec7b801f9c5d034e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('68e6884cec7b801f9c5d0351'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('68e6884cec7b801f9c5d034f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

![Selecting Specific Fields](images/Screenshot%202025-10-09%20at%2023.00.12.png)
![Selecting Specific Fields](images/Screenshot%202025-10-09%20at%2023.00.20.png)

In [12]:
# selecting all documents but only selected columns (only name)
x = mycol.find({},{'_id':0,'name':1})
for doc in x:
    print(doc)

{'name': 'John'}
{'name': 'Hannah'}
{'name': 'Richard'}
{'name': 'Michael'}
{'name': 'Vicky'}
{'name': 'Ben'}
{'name': 'William'}
{'name': 'Viola'}
{'name': 'Amy'}
{'name': 'Sandy'}
{'name': 'Betty'}
{'name': 'Susan'}
{'name': 'Chuck'}
{'name': 'Hannah'}
{'name': 'Richard'}
{'name': 'Ben'}
{'name': 'Amy'}
{'name': 'Michael'}
{'name': 'Sandy'}
{'name': 'Betty'}
{'name': 'Viola'}
{'name': 'Susan'}
{'name': 'Vicky'}
{'name': 'William'}
{'name': 'Chuck'}
{'name': 'Susan'}
{'name': 'Vicky'}
{'name': 'Chuck'}
{'name': 'Amy'}
{'name': 'Richard'}
{'name': 'Ben'}
{'name': 'William'}
{'name': 'Viola'}
{'name': 'Hannah'}
{'name': 'Michael'}
{'name': 'Sandy'}
{'name': 'Betty'}
{'name': 'Susan'}
{'name': 'Chuck'}
{'name': 'Michael'}
{'name': 'Sandy'}
{'name': 'Betty'}
{'name': 'Richard'}
{'name': 'Vicky'}
{'name': 'Amy'}
{'name': 'Hannah'}
{'name': 'Ben'}
{'name': 'Viola'}
{'name': 'William'}
{'name': 'Amy'}
{'name': 'Hannah'}
{'name': 'Vicky'}
{'name': 'Ben'}
{'name': 'Peter'}
{'name': 'Michael'}
{'name': 'Sandy'}
{'name': 'Richard'}
{'name': 'Susan'}
{'name': 'John'}
{'name': 'Betty'}
{'name': 'William'}
{'name': 'Chuck'}
{'name': 'Viola'}

In [13]:
# not selecting specific column using 0 in second parameter (no displaying address)
x = mycol.find({},{'address':0})
for doc in x:
    print(doc)

{'_id': ObjectId('68e686feec7b801f9c5d0321'), 'name': 'John'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0323'), 'name': 'Hannah'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0327'), 'name': 'Richard'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0324'), 'name': 'Michael'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0329'), 'name': 'Vicky'}
{'_id': ObjectId('68e687b8ec7b801f9c5d032a'), 'name': 'Ben'}
{'_id': ObjectId('68e687b8ec7b801f9c5d032b'), 'name': 'William'}
{'_id': ObjectId('68e687b8ec7b801f9c5d032d'), 'name': 'Viola'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0322'), 'name': 'Amy'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0325'), 'name': 'Sandy'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0326'), 'name': 'Betty'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0328'), 'name': 'Susan'}
{'_id': ObjectId('68e687b8ec7b801f9c5d032c'), 'name': 'Chuck'}
{'_id': ObjectId('68e687d0ec7b801f9c5d032f'), 'name': 'Hannah'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0333'), 'name': 'Richard'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0336'), 'name': 'Ben'}
{'_id': ObjectId('68e687d0ec7b801f9c5d032e'), 'name': 'Amy'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0330'), 'name': 'Michael'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0331'), 'name': 'Sandy'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0332'), 'name': 'Betty'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0339'), 'name': 'Viola'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0334'), 'name': 'Susan'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0335'), 'name': 'Vicky'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0337'), 'name': 'William'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0338'), 'name': 'Chuck'}
{'_id': ObjectId('68e687e9ec7b801f9c5d0340'), 'name': 'Susan'}
{'_id': ObjectId('68e687e9ec7b801f9c5d0341'), 'name': 'Vicky'}
{'_id': ObjectId('68e687e9ec7b801f9c5d0344'), 'name': 'Chuck'}
{'_id': ObjectId('68e687e9ec7b801f9c5d033a'), 'name': 'Amy'}
{'_id': ObjectId('68e687e9ec7b801f9c5d033f'), 'name': 'Richard'}
{'_id': ObjectId('68e687e9ec7b801f9c5d0342'), 'name': 'Ben'}
{'_id': ObjectId('68e687e9ec7b801f9c5d0343'), 'name': 'William'}
{'_id': ObjectId('68e687e9ec7b801f9c5d0345'), 'name': 'Viola'}
{'_id': ObjectId('68e687e9ec7b801f9c5d033b'), 'name': 'Hannah'}
{'_id': ObjectId('68e687e9ec7b801f9c5d033c'), 'name': 'Michael'}
{'_id': ObjectId('68e687e9ec7b801f9c5d033d'), 'name': 'Sandy'}
{'_id': ObjectId('68e687e9ec7b801f9c5d033e'), 'name': 'Betty'}
{'_id': ObjectId('68e6884cec7b801f9c5d034c'), 'name': 'Susan'}
{'_id': ObjectId('68e6884cec7b801f9c5d0350'), 'name': 'Chuck'}
{'_id': ObjectId('68e6884cec7b801f9c5d0348'), 'name': 'Michael'}
{'_id': ObjectId('68e6884cec7b801f9c5d0349'), 'name': 'Sandy'}
{'_id': ObjectId('68e6884cec7b801f9c5d034a'), 'name': 'Betty'}
{'_id': ObjectId('68e6884cec7b801f9c5d034b'), 'name': 'Richard'}
{'_id': ObjectId('68e6884cec7b801f9c5d034d'), 'name': 'Vicky'}
{'_id': ObjectId('68e6884cec7b801f9c5d0346'), 'name': 'Amy'}
{'_id': ObjectId('68e6884cec7b801f9c5d0347'), 'name': 'Hannah'}
{'_id': ObjectId('68e6884cec7b801f9c5d034e'), 'name': 'Ben'}
{'_id': ObjectId('68e6884cec7b801f9c5d0351'), 'name': 'Viola'}
{'_id': ObjectId('68e6884cec7b801f9c5d034f'), 'name': 'William'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 2, 'name': 'Peter'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 1, 'name': 'John'}
{'_id': 7, 'name': 'Betty'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

In [14]:
# using query as the first parameter in find() method to select specific documents
query = {'address' : 'Lowstreet 27'}
x = mycol.find(query)
for doc in x:
    print(doc)

{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}

In [18]:
# using advanced query 
query = {'address': {"$gte":'S'}}
# this advanced query selects all the records whose address starts with letter greater than or equal to S
x = mycol.find(query,{'name':1,'address':1,'_id':0})
for doc in x:
    print(doc)

{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [20]:
# using regexpression
query ={'name': {'$regex': '^[SP]'}}
#selecting records whose name initially starts with S or P
x = mycol.find(query,{'_id':0,'name':1,'address':1})
for doc in x:
    print(doc)

{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Susan', 'address': 'One way 98'}

In [23]:
# tselecting documents in ordered manner

x = mycol.find().sort('name') # we sort here by name
for doc in x:
    print(doc)

{'_id': ObjectId('68e687b8ec7b801f9c5d0322'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('68e687d0ec7b801f9c5d032e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('68e6884cec7b801f9c5d0346'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('68e687e9ec7b801f9c5d033a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('68e6884cec7b801f9c5d034e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('68e687b8ec7b801f9c5d032a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('68e687e9ec7b801f9c5d0342'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0336'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0326'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('68e6884cec7b801f9c5d034a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0332'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('68e687e9ec7b801f9c5d033e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0338'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('68e687e9ec7b801f9c5d0344'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('68e6884cec7b801f9c5d0350'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('68e687b8ec7b801f9c5d032c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('68e687e9ec7b801f9c5d033b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('68e6884cec7b801f9c5d0347'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0323'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('68e687d0ec7b801f9c5d032f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('68e686feec7b801f9c5d0321'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0324'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('68e6884cec7b801f9c5d0348'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('68e687e9ec7b801f9c5d033c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0330'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0333'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('68e687e9ec7b801f9c5d033f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0327'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('68e6884cec7b801f9c5d034b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('68e687e9ec7b801f9c5d033d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0331'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('68e6884cec7b801f9c5d0349'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0325'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('68e687e9ec7b801f9c5d0340'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0334'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0328'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('68e6884cec7b801f9c5d034c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0329'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('68e6884cec7b801f9c5d034d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0335'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('68e687e9ec7b801f9c5d0341'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('68e6884cec7b801f9c5d0351'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('68e687e9ec7b801f9c5d0345'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0339'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('68e687b8ec7b801f9c5d032d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('68e6884cec7b801f9c5d034f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('68e687e9ec7b801f9c5d0343'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0337'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('68e687b8ec7b801f9c5d032b'), 'name': 'William', 'address': 'Central st 954'}

In [24]:
# selcting documents in descending order 
y = mycol.find().sort('name',-1)
for doc in y:
    print(doc)

{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('68e6884cec7b801f9c5d034f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('68e687e9ec7b801f9c5d0343'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('68e687b8ec7b801f9c5d032b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0337'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('68e6884cec7b801f9c5d0351'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('68e687e9ec7b801f9c5d0345'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0339'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('68e687b8ec7b801f9c5d032d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0329'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('68e6884cec7b801f9c5d034d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('68e687e9ec7b801f9c5d0341'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0335'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0328'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('68e6884cec7b801f9c5d034c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('68e687e9ec7b801f9c5d0340'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0334'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0325'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('68e687e9ec7b801f9c5d033d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('68e6884cec7b801f9c5d0349'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0331'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('68e6884cec7b801f9c5d034b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('68e687e9ec7b801f9c5d033f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0333'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0327'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('68e6884cec7b801f9c5d0348'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0330'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0324'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('68e687e9ec7b801f9c5d033c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('68e686feec7b801f9c5d0321'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('68e687e9ec7b801f9c5d033b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0323'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('68e6884cec7b801f9c5d0347'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('68e687d0ec7b801f9c5d032f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('68e6884cec7b801f9c5d0350'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('68e687e9ec7b801f9c5d0344'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0338'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('68e687b8ec7b801f9c5d032c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('68e687e9ec7b801f9c5d033e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('68e6884cec7b801f9c5d034a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0332'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0326'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('68e6884cec7b801f9c5d034e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('68e687b8ec7b801f9c5d032a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('68e687e9ec7b801f9c5d0342'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('68e687d0ec7b801f9c5d0336'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('68e6884cec7b801f9c5d0346'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('68e687e9ec7b801f9c5d033a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('68e687b8ec7b801f9c5d0322'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('68e687d0ec7b801f9c5d032e'), 'name': 'Amy', 'address': 'Apple st 652'}

In [26]:
# deleting a document 
x = mycol.delete_one({})
# this command will delete the very first document stored in the collection

In [27]:
# to delete document which matches the condition first, we pass a query
myquery = {'name': 'John'}
x = mycol.delete_one(myquery)

In [29]:
# to delete all the documents that matches a specified condition, we use delete_many() method
query = {'name':'Amy'}
x = mycol.delete_many(query)
print(x.deleted_count,' documents deleted.')

5  documents deleted.

In [30]:
# to delete all records we don;t specify any condition
x = mycol.delete_many({})
print(x.deleted_count,' documents deleted.')

56  documents deleted.

In [31]:
# dropping the collection (table)
if(mycol.drop()):
    print('Collection dropped successfully')
else:
    print('Collection wasn\'t dropped')

Collection wasn't dropped

In [ ]:
# the above output is collection wasn't dropped successfully. This is because drop() method always returns None due to which the else output was printed.

In [32]:
mycol = mydb['customers']
records = ecords = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]
x = mycol.insert_many(records)

In [34]:
# updating the values in the database

#updating first occurrence
myquery = {'address': 'One way 98'}
val = {'$set':{'address': 'One way 99', 'ward': 5}}
mycol.update_one(myquery,val)

x = mycol.find({},{'_id':0})
for doc in x:
    print(doc)

{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 99', 'ward': 5}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [38]:
# to update all the documents that matches teh condition, we use update_many() method
myquery = {'name':{'$regex':'^[VW]'}}
val = {'$set':{'initial': 'V or W'}}
x = mycol.update_many(myquery,val)
print(x.modified_count,' documents modified')

for doc in mycol.find(myquery,{'_id':0}):
    print(doc)

3  documents modified
{'name': 'Vicky', 'address': 'Yellow Garden 2', 'initial': 'V or W'}
{'name': 'William', 'address': 'Central st 954', 'initial': 'V or W'}
{'name': 'Viola', 'address': 'Sideway 1633', 'initial': 'V or W'}

In [39]:
# selecting limited documents only

x = mycol.find().limit(5) #at max

for doc in x:
    print(doc)

{'_id': ObjectId('68e7f79af4023c61b5f00f02'), 'name': 'Amy', 'address': 'Apple st 652', 'initial': 'A or B'}
{'_id': ObjectId('68e7f79af4023c61b5f00f03'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('68e7f79af4023c61b5f00f04'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('68e7f79af4023c61b5f00f05'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('68e7f79af4023c61b5f00f06'), 'name': 'Betty', 'address': 'Green Grass 1', 'initial': 'A or B'}