In [1]:
import mysql.connector

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="habibi$123"
)

if mydb.is_connected():
    print('Connection Successful')
else:
    print("Connection Failure")

Connection Successful

In [ ]:
# Creating a database 
import mysql.connector
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'habibi$123'
)

mycursor = mydb.cursor()
mycursor.execute('CREATE DATABASE db1')

In [10]:
# To show the created/ available databases
mycursor.execute('SHOW DATABASES')
for db in mycursor:
    print(db)

('db1',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [11]:
# Connecting to the required dataase
database = 'db1'
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'habibi$123',
    database = database
)
if mydb.is_connected():
    print(f"Database {database} connection succesful.")
else:
    print(f"Database {database} couldn't be connected.")

Database db1 connection succesful.

In [2]:
# Creating table in the database
import mysql.connector
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'habibi$123',
    database = 'db1'
)

mycursor = mydb.cursor()

mycursor.execute('CREATE TABLE customers (name VARCHAR(30), address VARCHAR(30))')

mycursor.close()
mydb.close()

In [6]:
# To list down all the tables in a database
import mysql.connector

mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'habibi$123',
    database = 'db1'
)

mycursor = mydb.cursor()
mycursor.execute('SHOW TABLES')
for table in mycursor:
    print(table)
mycursor.close()
mydb.close()

('customers',)

# Primary Key
A primary key in a database is a unique identifier for each record (row) in a table.  
It ensures that:  
1. No two rows have the same key value (uniqueness).
2. The key value is never NULL (not empty).

In [ ]:
# adding a primary key in the existing table 
#since we have already created table we use the alter command instead of create

import mysql.connector

mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'habibi$123',
    database = 'db1'
)

mycursor = mydb.cursor()
mycursor.execute('ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY')
mycursor.execute('SHOW COLUMNS FROM customers')

#mycursor.execute('DESCRIBE customers')

for column in mycursor:
    print(column)

mycursor.close()
mydb.close()

('name', 'varchar(30)', 'YES', '', None, '')
('address', 'varchar(30)', 'YES', '', None, '')
('id', 'int', 'NO', 'PRI', None, 'auto_increment')

In [ ]:
#adding a column in table
import mysql.connector
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'habibi$123',
    database = 'db1'
)

mycursor = mydb.cursor()
mycursor.execute('ALTER TABLE customers ADD COLUMN demo_col VARCHAR(255)')
mycursor.execute('DESCRIBE customers')
for column in mycursor:
    print(column)

('name', 'varchar(30)', 'YES', '', None, '')
('address', 'varchar(30)', 'YES', '', None, '')
('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('demo_col', 'varchar(255)', 'YES', '', None, '')

In [5]:
#deleting a column in a table
mycursor.execute('ALTER TABLE customers DROP COLUMN demo_col')
mycursor.execute('DESCRIBE customers')
for column in mycursor:
    print(column)

('name', 'varchar(30)', 'YES', '', None, '')
('address', 'varchar(30)', 'YES', '', None, '')
('id', 'int', 'NO', 'PRI', None, 'auto_increment')

In [6]:
#renaming a column
mycursor.execute('ALTER TABLE customers RENAME COLUMN name TO customer_name')
mycursor.execute('DESCRIBE customers')
for column in mycursor:
    print(column)

('customer_name', 'varchar(30)', 'YES', '', None, '')
('address', 'varchar(30)', 'YES', '', None, '')
('id', 'int', 'NO', 'PRI', None, 'auto_increment')

In [ ]:
# changing column datatype in a database
mycursor.execute('ALTER TABLE customers MODIFY COLUMN customer_name VARCHAR(255)')
mycursor.execute('DESCRIBE customers')
for column in mycursor:
    print(column)

('customer_name', 'varchar(255)', 'YES', '', None, '')
('address', 'varchar(30)', 'YES', '', None, '')
('id', 'int', 'NO', 'PRI', None, 'auto_increment')

In [ ]:
# raenaming a table
mycursor.execute('ALTER TABLE customers RENAME TO customers_info')
mycursor.execute('DESCRIBE customers_info')
for column in mycursor:
    print(column)

('customer_name', 'varchar(255)', 'YES', '', None, '')
('address', 'varchar(30)', 'YES', '', None, '')
('id', 'int', 'NO', 'PRI', None, 'auto_increment')

In [ ]:
#dropping a primary key
mycursor.execute('ALTER TABLE customers_info MODIFY COLUMN id INT ') #REMOVING AUTO-INCREMENT
mycursor.execute('ALTER TABLE customers_info DROP PRIMARY KEY')
mycursor.execute('DESCRIBE customers_info')
for column in mycursor:
    print(column)

('customer_name', 'varchar(255)', 'NO', '', None, '')
('address', 'varchar(30)', 'YES', '', None, '')
('id', 'int', 'NO', '', None, '')

In [22]:
# adding a primary key 

mycursor.execute('ALTER TABLE customers_info ADD PRIMARY KEY (id)')
mycursor.execute('DESCRIBE customers_info')
for column in mycursor:
    print(column)

('customer_name', 'varchar(255)', 'NO', '', None, '')
('address', 'varchar(30)', 'YES', '', None, '')
('id', 'int', 'NO', 'PRI', None, '')

In [23]:
#adding constraints not-null
mycursor.execute('ALTER TABLE customers_info MODIFY customer_name VARCHAR(255) NOT NULL')

In [24]:
mycursor.close()
mydb.close()